#game, #bundle_container {
    margin-top: 20px;
}

#cover {
    margin-right: 10px;
}


#download_container, #game {
    display:none;
}

@media only screen and (max-width: 540px) {
    #game {
        text-align: center;
    }
    #cover-container {
        width: 100%;
    }
}

.key {
    border: 3px #444 outset;
    color: white;
    background-color: #888;
    min-width: 2em;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
}

h2 {
    display: inline-block;
}
#tags {
    margin-left: 5px;
}
.tag {
    display: inline-block;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 0 8px;
}