#game, #bundle_container {
    margin-top: 20px;
}

#cover {
    margin-right: 10px;
}


#download_container, #game {
    display:none;
}

@media only screen and (max-width: 540px) {
    #game {
        text-align: center;
    }
    #cover-container {
        width: 100%;
    }
}

.key {
    border: 3px #444 outset;
    color: white;
    background-color: #888;
    min-width: 2em;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
}

h2 {
    display: inline-block;
}
#tags {
    margin-left: 5px;
}
.tag {
    display: inline-block;
    border-radius: 15px;
    background-color: lightblue;
    color: black;
    padding: 0 8px;
}

.tag.b520 {
    background: #808000;
    color: white;
}

.tag.b902 {
    background: rgb(0, 87, 183);
    background: linear-gradient(0deg, #21811f 33%, white 34%, white 65%, black 66%);
    color: red;
    text-shadow: 2px 2px 2px white;
}

.tag.b1316 {
    background: rgb(0, 87, 183);
    background: linear-gradient(0deg, rgba(255,215,0,1) 50%, rgba(0,87,183,1) 50%);
    color: lightgray;
    text-shadow: 2px 2px 2px black;
}