#game, #bundle_container {
    margin-top: 20px;
}

#cover {
    margin-right: 10px;
}


#download_container, #game {
    display:none;
}

@media only screen and (max-width: 540px) {
    #game {
        text-align: center;
    }
    #cover-container {
        width: 100%;
    }
}